body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.shadow{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-top: 10%;
    }
   .bordar{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(59, 6, 250),rgb(6, 221, 24));
    border-image-slice: 1;
   }
.button{
    text-decoration: none;
     padding: 10px 20px;
    border-radius: 5%;
    color: blanchedalmond;
    font-weight: 700;
    background-image: linear-gradient(rgb(8, 72, 247),rgb(18, 252, 57));
}
.color{
    color: rgb(102, 255, 0);
}
.fexible{
    display: flex;
    margin-bottom: 200px;

}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width: 70%;
}
.text{
    text-align: center;
    font-size: 50px;
}

.rightImage{
    right: 0;
    width: 150px;
    height: 100%;
    position: fixed;
  }
  #A{
      background-color: antiquewhite;
      border-radius: 20%;
      margin: 1%;
      
  }
  #B{
      background-color: rgb(240, 39, 39);
      border-radius: 20%;
      margin: 1%;
  }
  #C{
      background-color: cadetblue;
      border-radius: 20%;
      margin: 1%;
  }
  .develop{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
  }
  .corona-text{
    text-align:left;
    font-size: 50px;
  }
  .corona{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
  }
  .app{
    text-decoration: none;
    padding: 10px 20px;
   border-radius: 5%;
   color: blanchedalmond;
   font-weight: 700;
   background-image: linear-gradient(rgb(247, 8, 8),rgb(0, 8, 2));
  }
  .community{
        text-decoration: none;
        padding: 10px 20px;
       border-radius: 5%;
       color: blanchedalmond;
       font-weight: 700;
       background-image: linear-gradient(rgb(243, 247, 8),rgb(0, 8, 2));
  }
  .engineer{
    text-decoration: none;
    padding: 10px 20px;
   border-radius: 5%;
   color: blanchedalmond;
   font-weight: 700;
   background-image: linear-gradient(rgb(8, 211, 247),rgb(165, 247, 186));
  }
  #D{
    background-color: rgb(240, 39, 39);
    border-radius: 20%;
    margin: 1%;
    background-color: antiquewhite;
}
  

    .text-one{
        text-align: center;
        font-size: 15px;
        color: aliceblue;
        padding-bottom: 2%;
       
    }
    .text-two{
        text-align: center;
        font-size: 25px;
        color: aliceblue;
        padding-top: 2%;
        
    }
    .fexi{
        background-image: linear-gradient(rgb(0, 4, 5),rgb(5, 0, 0));
        
    }
    .rong{
        color: rgb(255, 0, 0);}
        